

.card {
  background-color: #2a2a2a; 
  border-radius: 10px;
  text-align: center;
  border: 1px solid #333;
  transition: background-color 0.2s, transform 0.2s;
  margin: 0.3rem;
  width: 17.5rem; 
}

.card:hover {
  background-color: #333;
  transform: translateY(-5px); 
}

.card img {
  width: 7.5rem; 
  height: 7.5rem;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

.card h2 {
  font-size: 1.25rem;
  color: #f5f5f5;
  margin: 0.7rem 0 0.5rem 0;
  text-transform: capitalize;
}

.card-tipos {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem; 
}

.tipo {
  padding: 4px 12px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.card button.detalhes-btn {
  width: calc(100% - 0.6rem);

  border-radius: 8px;
  background-color: #E63946; 
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 0.3rem; 
}

.card button.detalhes-btn:hover {
  background-color: #D62828;
}

.card button.favorito-btn {
  width: calc(100% - 0.6rem);
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: #f5f5f5;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.1rem;
  margin-bottom: 0.3rem; 
}

.card button.favorito-btn:hover {
  background-color: #555;
}

.tipo.grass { background-color: #78C850; }
.tipo.poison { background-color: #A040A0; }
.tipo.fire { background-color: #F08030; }
.tipo.water { background-color: #6890F0; }
.tipo.bug { background-color: #A8B820; }
.tipo.normal { background-color: #A8A878; }
.tipo.flying { background-color: #A890F0; }
.tipo.electric { background-color: #F8D030; color: #333; }
.tipo.ground { background-color: #E0C068; }
.tipo.fairy { background-color: #EE99AC; }
.tipo.fighting { background-color: #C03028; }
.tipo.psychic { background-color: #F85888; }
.tipo.rock { background-color: #B8A038; }
.tipo.steel { background-color: #B8B8D0; }
.tipo.ice { background-color: #98D8D8; }
.tipo.ghost { background-color: #705898; }
.tipo.dragon { background-color: #7038F8; }
.tipo.dark { background-color: #705848; }