.card{
    background-color: red;
    width: 18rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.card img {
    width: 150px;
}