.modal{
    background-color: blue;
    z-index: 1001;
}
.fundo{
    display: flex;
    position: fixed; 
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}